<div class="devise container">
  <div class="cell">
    <p class="notice card"><%= notice %></p>
    <p class="notice card"><%= alert %></p>
    <div class="card login">
      <h2>Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
      <% end %>
    </div>
    <div id="nav" class="card links">
      <%= render "devise/shared/links" %>
    </div>
    <div id="bottom-container">
      <div id="info" class="card">
        <strong>Radar</strong>, a project by <a href="#">Not Implemented</a>.
      </div>
    </div> 
  </div>
</div>
