<input type="text" id="search" placeholder="Search for weather near a location" autofocus>

<div id="weather" class="card">
    <span id="temp"><%= @temperature %></span><span id="temp-units">&deg;C</span>
    <span id="curr-condition"><%= @condition %>&nbsp;</span>
    <div id="detailed-conditions">
        <span class="item" <% if !@prefs["wind"] %>style="display: none;"<% end %>>
            <span class="label">Wind:</span>
            <strong data-tag="wind"><%= @wind %></strong>
        </span>
        <span class="item" <% if !@prefs["dewpoint"] %>style="display: none;"<% end %>>
            <span class="label">Dewpoint:</span>
            <strong data-tag="dewpoint"><%= @dewpoint %></strong>&deg;C
        </span>
        <span class="item" <% if !@prefs["pressure"] %>style="display: none;"<% end %>>
            <span class="label">Pressure:</span>
            <strong data-tag="pressure"><%= @pressure %></strong> kPa
        </span>
        <span class="item" <% if !@prefs["visibility"] %>style="display: none;"<% end %>>
            <span class="label">Visibility:</span>
            <strong data-tag="visibility"><%= @visibility %></strong> km
        </span>
        <span class="item" <% if !@prefs["humidity"] %>style="display: none;"<% end %>>
            <span class="label">Humidity:</span>
            <strong data-tag="humidity"><%= @humidity %></strong>%
        </span>
    </div>
</div>

<div id="map-canvas">
</div>

<div id="nav" class="card">
    <a id="refresh" href="#">Refresh</a>
   <span style="float:right"> <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></span><br/>

  <% if user_signed_in? %>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% else %>
    <a href="users/sign_up">Sign up</a>
    <a href="users/sign_in">Sign in</a>
    <% end %>
</div>

<% if user_signed_in? %>
<div id="preferences" class="card collapsed">
    <span class="close">&times;</span>
    <span class="label">Preferences</span>
    <div class="content">
        <strong>Display:</strong>
        <div class="options">
            <% current_user.preferences.each do |option, value| %>
            <span data-option="<%= option %>" class="option<%= " selected" if value %>"><%= option.capitalize %></span>
            <% end %>
            <select id="city_select">
                <option id="s0000758" <% if @prefs["code"]=="s0000758" %>selected<% end %>>Abbotsford</option>
                <option id="s0000398" <% if @prefs["code"]=="s0000398"%>selected<% end %>>Agassiz</option>
                <option id="s0000496" <% if @prefs["code"]=="s0000496"%>selected<% end %>>Nanaimo</option>
                <option id="s0000323" <% if @prefs["code"]=="s0000323"%>selected<% end %>>Squamish</option>
                <option id="s0000141" <% if @prefs["code"]=="s0000141"%>selected<% end %>>Vancouver</option>
                <option id="s0000775" <% if @prefs["code"]=="s0000775"%>selected<% end %>>Victoria</option>
                <option id="s0000078" <% if @prefs["code"]=="s0000078"%>selected<% end %>>Whistler</option>
                <option id="s0000373" <% if @prefs["code"]=="s0000373"%>selected<% end %>>White Rock</option>
            </select>
        </div>
    </div>
</div>
<% end %>

<div id="bottom-container">
    <div id="last-updated" class="card">
        Last updated: <span data-tag="updated"><%= @updated %></span><br>
    </div> 

    <div id="info" class="card">
        <strong>Radar</strong>, a project by <a href="#">Not Implemented</a>.
    </div>
</div>
