<div id="weather" class="card">
    <span id="temp">6.6</span><span id="temp-units">&deg;C</span>
    <span id="curr-condition">Partly Cloudy</span>
    <div id="detailed-conditions">
        <span class="item">
            <span class="label">Wind:</span>
            <strong>4 km/h</strong> NW
        </span>
        <span class="item">
            <span class="label">Dewpoint:</span>
            <strong>0.7</strong>&deg;C
        </span>
        <span class="item">
            <span class="label">Pressure:</span>
            <strong>103.0</strong> kPa
        </span>
        <span class="item">
            <span class="label">Visibility:</span>
            <strong>48.3</strong> km
        </span>
        <span class="item">
            <span class="label">Humidity:</span>
            <strong>75</strong>%
        </span>
    </div>
</div>

<div id="map-canvas">
</div>

<div id="nav" class="card">
    <a id="refresh" href="#">Refresh</a>
    <% if user_signed_in? %>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% else %>
    <a href="users/sign_up">Sign up</a>
    <a href="users/sign_in">Sign in</a>
    <% end %>
</div>

<% if user_signed_in? %>
<div id="preferences" class="card collapsed">
    <span class="close">&times;</span>
    <span class="label">Preferences</span>
    <div class="content">
        <strong>Display:</strong>
        <div class="options">
            <% current_user.preferences.each do |option, value| %>
            <span data-option="<%= option %>" class="option<%= " selected" if value %>"><%= option.capitalize %></span>
            <% end %>
        </div>
    </div>
</div>
<% end %>

<div id="bottom-container">

<div id="last-updated" class="card">
    Last updated: <%= @updated %><br>
</div> 

<div id="info" class="card">
    <strong>Radar</strong>, a project by <a href="#">Not Implemented</a>.
</div>

</div>
